<nav class="navbar navbar-default col-sm-3 col-lg-2">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#sideNav" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="sideNav">
        <ul class="nav nav-pills head-menu nav-stacked" data-spy="affix" data-offset-top="72">
            <li role="presentation" class="{{activeSection('')}}">
                <a href="/admin">Dashboard</a>
            </li>
            <li role="presentation" class="{{activeSection('products')}}">
                <a href="/admin/products">Products</a>
            </li>
            <li role="presentation" class="{{activeSection('categories')}}">
                <a href="/admin/categories">Categories</a>
            </li>
            <li role="presentation" class="{{activeSection('sections')}}">
                <a href="/admin/sections">Sections</a>
            </li>
            <li role="presentation" class="{{activeSection('specs')}}">
                <a href="/admin/specs">Specs</a>
            </li>
            <li role="presentation" class="{{activeSection('pictures')}}">
                <a href="/admin/pictures">Pictures</a>
            </li>
            <hr>
            <li role="presentation" class="{{activeSection('users')}}">
                <a href="/admin/users">Users</a>
            </li>
            <li role="presentation" class="{{activeSection('orders')}}">
                <a href="/admin/orders">Orders</a>
            </li>
            <li role="presentation" class="{{activeSection('deliveries')}}">
                <a href="/admin/deliveries">Deliveries</a>
            </li>
            <li role="presentation" class="{{activeSection('payments')}}">
                <a href="/admin/payments">Payments</a>
            </li>
            <hr>
            <li role="presentation">
                <a href="/">Back to the store</a>
            </li>
            <li role="presentation">
                <a href="/account">My Account</a>
            </li>
            <li role="presentation">
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
