<tr>
    <td>{{ product.id }}</td>
    <td><img class="thumb img-responsive" src="{{product.mainPic.path}}" width="50" height="50"></td>
    <td>{{ product.name }}</td>
    <td>{{ product.category.name}}</td>
    {% if product.onSale %}
        <td>{{ product.discountedPrice }}</td>
        <td>{{ product.discount.amount * 100 }}%</td>
    {% else %}
        <td>{{ product.price }}</td>
        <td>-</td>
    {% endif %}
    <td class="col-xs-1 col-xs-offset-10">
        <a class="btn btn-sm btn-primary" role="button" href="/admin/products/view/{{product.id}}">View</a>
    </td>
    <td class="col-xs-1">
        <input class="btn btn-sm btn-danger" type="submit" name="delete" value="Delete">
    </td>
    <td class="col-xs-1 checkable" role="button">
        <input type="checkbox" name="id[]" role="button" value="{{product.id}}">
    </td>
</tr>
