{% extends 'base.twig' %}

{% block title %}{{parent()}} | Step 2{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/checkout.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/checkout.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    {% include 'checkout/inc/checkout-steps.twig' %}
    <div class="well col-sm-6 col-sm-offset-3">
        <form id="form" method="post" action="/checkout/prepare-order">
            <h2 class="form-signin-heading">Checkout<small class="pull-right"><a href="/account/register">Register first?</a></small></h2>
            <br>
            {% include "inc/flashes.twig" %}
            <div class="form-group">
                <label for="delivery">Delivery</label>
                <select id="delivery" class="form-control" name="delivery" required>
                    <option disabled selected value="">Choose delivery method</option>
                    {% for delivery in deliveries %}
                        <option value="{{delivery.id}}"{{delivery.id == selectedDelivery ? ' selected' : ''}}>{{delivery.name}} (¥{{delivery.price}})</option>
                    {% endfor %}
                </select>
                {% for delivery in deliveries %}
                    <input type="hidden" id="deliveryDesc_{{delivery.id}}" value="{{delivery.description}}">
                {% endfor %}
                <br>
                <p id="deliveryDesc"></p>
            </div>
            <br>
            <div class="form-group">
                <label for="payment">Payment</label>
                <select id="payment" class="form-control" name="payment" required>
                    <option disabled selected value="">Choose payment method</option>
                    {% for payment in payments %}
                        <option value="{{payment.id}}"{{payment.id == selectedPayment ? ' selected' : ''}}>{{payment.name}}</option>
                    {% endfor %}
                </select>
                {% for payment in payments %}
                    <input type="hidden" id="paymentDesc_{{payment.id}}" value="{{payment.description}}">
                {% endfor %}
                <br>
                <p id="paymentDesc"></p>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" form="form">Next</button>
        </form>
    </div>
</div>
{% endblock %}
