{% extends 'base.twig' %}

{% block title %}{{parent()}} | Checkout{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/checkout.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/checkout.js"></script>
{% endblock %}

{% block content %}
{% include 'dlg/payment-gateway.twig' %}
<div class="container">
    {% include 'checkout/inc/checkout-steps.twig' %}
    <div class="well col-sm-6 col-sm-offset-3">
        <h2 class="form-signin-heading">Review Order</h2>
        <br>
        {% include "inc/flashes.twig" %}
        <div class="order-details">
            <table class="table table-striped order-details">
                <tr>
                    <th>Name</th>
                    <td>{{ shipping.name }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ shipping.phone }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ shipping.address }}</td>
                </tr>
                <tr>
                    <th>Delivery</th>
                    <td>{{ delivery.name }} (¥{{ delivery.price }})</td>
                </tr>
                <tr>
                    <th>Payment</th>
                    <td>{{ payment.name }}</td>
                </tr>
                <tr>
                    <th>Items</th>
                    {% for prodId, arr in cart if prodId matches '/^\\d+$/' %}
                        <td>
                            <div class="item-row">
                                <img class="img-responsive" src="{{arr['prod'].mainPic.path}}" width="60" height="60">
                                <span class="item-qty">x{{arr['qty']}}</span>
                                <span class="item-subtotal">(¥{{arr['prod'].discountedPrice * arr['qty']}})</span>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Total</th>
                    <td>¥{{cart['total']}}</td>
                </tr>
            </table>
        </div>
        <br>
        <button id="confirmOrderBtn" class="btn btn-lg btn-primary btn-block">Confirm Order</button>
        <div id="successBtn" hidden>
            <a href="/account/orders" class="btn btn-lg btn-success btn-block">Success!</a>
        </div>
    </div>
</div>
{% endblock %}
