<div class="col-xs-6 col-md-4 col-lg-3">
    <div class="thumbnail product-card">
        <a role="button" href="/catalog/{{product.category.uri}}/{{product.id}}">
            <img src="{{product.mainPic.path}}">
        </a>
        <div class="caption">
            <h4>{{ product.name }}</h4>
            <div class="product-price-row">
                {% if product.onSale %}
                    <span class="card-striked"><s>¥{{product.price}}</s></span>
                    <span class="card-sale">¥{{product.discountedPrice}}</span>
                {% else %}
                    <span class="card-price">¥{{product.price}}</span>
                {% endif %}
                <span class="pull-right">
                    <a href="/cart/add/{{product.id}}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </span>
            </div>
        </div>
    </div>
</div>
