{% extends 'base.twig' %}

{% block title %}{{parent()}} | Product page{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/xzoom.css">
<link rel="stylesheet" href="/css/product.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/xzoom.min.js"></script>
<script type="text/javascript" src="/js/gallery.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-5">
        {% include 'catalog/inc/img-gallery.twig' %}
        </div>
        <div class="col-sm-7">
            <h1>{{ product.name }}</h1>
            <div class="well">
                {% if product.onSale %}
                    <span class="product-price-striked"><s>¥{{product.price}}</s></span>
                    <span class="product-price-sale">¥{{product.discountedPrice}} Sale!</span>
                {% else %}
                    <span class="product-price">¥{{product.price}}</span>
                {% endif %}
                <span class="pull-right">
                    <a class="btn btn-success" role="button" href="/cart/add/{{product.id}}" style="margin-left:5px"><span class="glyphicon glyphicon-shopping-cart"></span><span class="hidden-sm"> Add to cart</span></a>
                </span>
                <span class="pull-right">
                    <a class="btn btn-warning" role="button" href="#"><span class="glyphicon glyphicon-ok"></span><span class="hidden-sm"> Checkout</span></a>
                </span>
            </div>
            <div class="well">
                <h3>Description</h3>
                <p>{{ product.description }}</p>
            </div>
            <div class="well">
                <h3>Specifications</h3>
                <table class="table table-striped">
                    {% for spec in product.specs %}
                    <tr>
                        <td>{{ spec.name }}</td>
                        <td>{{ spec.value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
