{% extends 'base.twig' %}

{% block title %}{{parent()}} | {{ section.name }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/catalog.css">
{% endblock %}

{% block scripts %}
<script src="/js/filters.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-lg-2 filter-bar hidden-xs">
        {% include "catalog/inc/sidebar.twig" %}
        </div>
        <div class="col-sm-9 col-lg-10">
            <h1>{{ section.description }}</h1>
            <ol class="breadcrumb">
                <li><a href="/catalog">Catalog</a></li>
                <li class="active">{{ section.name }}</li>
            </ol>
            {% include "inc/flashes.twig" %}
            <div class="row hidden-xs">
                {% include "catalog/inc/topbar.twig" %}
            </div>
            <div class="visible-xs-block">
                {% include 'catalog/inc/mobile-filters.twig' %}
            </div>
            <!-- <div class="row my-pagination"> -->
                {# include "catalog/inc/pagination.twig" #}
            <!-- </div> -->
            {% if groupBy is not empty %}
                {% for groupName, groupProducts in products if groupProducts is not empty %}
                    <h3>{{ groupName }}</h3>
                    <div class="row product-cards">
                        {% for product in groupProducts %}
                        {% include 'catalog/card.twig' %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="row product-cards">
                    {% for product in products %}
                    {% include 'catalog/card.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
            <!-- <div class="row my-pagination"> -->
                {# include "catalog/inc/pagination.twig" #}
            <!-- </div> -->
        </div>
    </div>
</div>
{% endblock %}
