<tr>
    <td>{{ section.id }}</td>
    <td>{{ section.name }}</td>
    <td>{{ section.uri }}</td>
    <td>{{ short(section.description, 60) }}</td>
    <td>{{ section.param.name }}</td>
    <td>{{ section.maxProducts }}</td>
    <td class="col-xs-1 col-xs-offset-10">
        <a class="btn btn-sm btn-primary" role="button" href="/admin/sections/view/{{section.id}}">View</a>
    </td>
</tr>
