<tr>
    <td>{{ spec.id }}</td>
    <td>{{ spec.name }}</td>
    <td>
        {% for cat in spec.categories %}
            {% if not loop.first %}| {% endif %}{{ cat.uri }}
        {% endfor %}
    </td>
    <td>{{ spec.type }}</td>
    <td>{{ spec.isRequired ? 'yes' : 'no' }}</td>
    <td>{{ spec.isFilter ? 'yes' : 'no' }}</td>
    <td class="col-xs-1 col-xs-offset-10">
        <a class="btn btn-sm btn-primary" role="button" href="/admin/specs/view/{{spec.id}}">View</a>
    </td>
    <td class="col-xs-1">
        <input class="btn btn-sm btn-danger" type="submit" name="deleteSingle" value="Delete">
        <input type="checkbox" name="id[]" role="button" value="{{spec.id}}" hidden>
    </td>
</tr>
