{% extends 'base-admin.twig' %}

{% block title %}{{parent()}} | Spec Details{% endblock %}

{% block content %}
<div class="container">
    <div class="well col-sm-6 col-sm-offset-3">
        <form method="post" action="/admin/specs/update">
            <h2>Spec Details</h2>
            <br>
            {% include "inc/flashes.twig" %}
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" name="id" value="{{spec.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Spec name" value="{{spec.name}}" required autofocus>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" id="type" name="type" required>
                    <option value="text"{% if spec.type == 'text' %} selected{% endif %}>text</option>
                    <option value="checkbox"{% if spec.type == 'checkbox' %} selected{% endif %}>checkbox</option>
                    <option value="radio"{% if spec.type == 'radio' %} selected{% endif %}>radio</option>
                </select>
            </div>
            <label>Always required</label>
            <div class="radio">
                <label>
                    <input type="radio" name="isRequired" value="0" checked> No
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="isRequired" value="1"{% if spec.isRequired %} checked{% endif %}> Yes
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="isFilter" value="0" checked> No
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="isFilter" value="1"{% if spec.isFilter %} checked{% endif %}> Yes
                </label>
            </div>
            <label>Categories</label>
            {% for category in categories %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="categories[]" value="{{category.id}}"{% if spec.hasCategory(category.id) %} checked{% endif %}> {{category.name}}
                </label>
            </div>
            {% endfor %}
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Update spec</button>
        </form>
    </div>
</div>
{% endblock %}
