{% extends 'base.twig' %}

{% block title %}{{parent()}} | Orders{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/account.css">
{% endblock %}

{% block scripts %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-sm-3 acc-sidebar">
        {% include 'account/inc/sidebar.twig' %}
    </div>
    <div class="col-sm-9">
        <h1>Orders</h1>
        <br>
        {% include "inc/flashes.twig" %}
        <hr>
        {% for order in orders %}
            <div class="order">
                <div class="row order-header">
                    <div class="col-xs-4">
                        <p>{{ order.date }}</p>
                    </div>
                    <div class="col-xs-4">
                        <p>Order #{{ order.id }}</p>
                    </div>
                    <div class="col-xs-4">
                        <p>Status: <span class="order-status">{{ order.status.name }}</span></p>
                    </div>
                </div>
                {% for item in order.items %}
                    <div class="row order-item">
                        <div class="col-xs-3">
                            <img class="img-responsive" src="{{item.mainPic.path}}" width="120" height="120">
                        </div>
                        <div class="col-xs-3">
                            <p>{{ item.name }}</p>
                        </div>
                        <div class="col-xs-3">
                            <p>{{item.qty}}<span class="qty-price-separator">x</span>짜{{item.discountedPrice}}</p>
                        </div>
                        <div class="col-xs-3">
                            <p>짜{{item.subtotal}}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="row order-footer">
                    <div class="col-xs-9 col-md-9">
                        <p><strong>Delivery: </strong>{{order.delivery.name}} (짜{{order.delivery.price}})</p>
                        <p><strong>Payment: </strong>{{order.payment.name}}</p>
                        <p><strong>Shipping Details: </strong><a tabindex="0" class="badge" data-placement="right" role="button" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<b>Name: </b>{{order.shipping.name}}<br><b>Phone: </b>{{order.shipping.phone}}<br><b>Address: </b>{{order.shipping.address}}">?</a></p>
                    </div>
                    <div class="col-xs-2">
                        <p class="order-total">짜{{order.total + order.delivery.price}}</p>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}
