<div class="clearfix">
    <img class="xzoom img-responsive center-block" src="{{product.mainPic.path}}" xoriginal="{{product.mainPic.path}}">
</div>
<div class="xzoom-thumbs">
    <a href="{{product.mainPic.path}}">
        <img class="xzoom-gallery" width="80" src="{{product.mainPic.path}}">
    </a>
    {% for pic in product.pics %}
    <a href="{{ pic.path }}">
        <img class="xzoom-gallery" width="80" src="{{ pic.path }}">
    </a>
    {% endfor %}
</div>
